@import '../fonts/fonts.scss';
@import './keyframes.scss';

:root {
  --font: 'Lab Grotesque', sans-serif;
  --accent: #ea0029;
  --text: #808080;
  --disabled: #bec5cc;
  --border: #dfe3e6;
  --default: #000000;
  --error: #ea0029;
  --bgc: rgba(0, 0, 0, 0.3);
  --lightGray: #eef0f2;
  --main-gradient: linear-gradient(255.35deg, #dc3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #ff5e56;
}

html {
  font-size: 16px;
}
* {
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  cursor: default;
  color: var(--default);
  background: var(--main-gradient);
}
a {
  text-decoration: none;
}
p {
  color: var(--text);
  line-height: 1.33;
}
section {
  position: relative;
}
ul {
  list-style: none;
}
textarea,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--font);
  border: none;
  background: none;
  outline: none;
  &[disabled] {
    cursor: default;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--disabled);
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: var(--disabled);
}

button {
  cursor: pointer;
}

// убирает цвет автокомплита у инпута
input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    font-size: 1rem;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
// убирает выделение текста при клике на лейбл
label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.75rem;
  }
  p {
    line-height: 1.7;
  }
}
