.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  min-width: 9.375rem;
  height: 2.5rem;
  font-size: 0.75rem;
  padding: 1rem;
  line-height: 1.5;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
  &:active,
  &:hover {
    background-color: #fff;
    color: var(--default);
  }
  &:disabled {
    background-color: var(--disabled);
  }
}

@media (min-width: 768px) {
  .primaryButton {
    min-width: 13.125rem;
    height: 3.5rem;
    font-size: 1rem;
  }
}
