.ReactModal {
  &__Overlay {
    overflow: auto;
  }
  &__Content {
    opacity: 0;
    animation: fadeIn 0.2s forwards;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none !important; //lib overwrite
    position: relative !important; //lib overwrite
    padding: 0 !important; //lib overwrite
    inset: 0 !important; //lib overwrite;
    margin: 0 auto;
  }
  &__body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  &__close {
    z-index: 1;
    position: absolute;
    top: 16px;
  }
}

@media (min-width: 768px) {
  .ReactModal {
    &__Overlay {
      padding: 7.5rem 0;
    }
    &__Content {
      min-height: initial;
      height: fit-content;
      width: 28.375rem;
      max-width: 100%;
      border-radius: 30px !important; //lib overwrite
    }
  }
}
@media (min-width: 1440px) {
  .ReactModal {
    &__Content {
      width: 34.5rem;
    }
  }
}
