.taxOption {
  font-size: 0.875rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
  &:first-of-type {
    padding-top: 0;
  }
  &__info {
    color: var(--text);
  }
}
