.taxOptions {
  &__subTitle {
    display: block;
    font-weight: 500;
    line-height: 1.7;
    font-size: 0.875rem;
    margin-bottom: 1.4rem;
  }
  &__checklist {
    margin-bottom: 1.5rem;
  }
}
