.tagButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--lightGray);
  font-size: 0.875rem;
  padding: 0.2rem 0.75rem;
  height: 2.25rem;
  border-radius: 50px;
  line-height: 1.5;
  color: var(--default);
  box-sizing: border-box;
  transition: background 0.3s;
  &:not(.active):hover {
    background-color: var(--border);
  }
  &:active,
  &.active {
    background: var(--main-gradient) !important; //linear-gradient bug on active
    color: #fff;
  }
}
