.taxParams {
  &__subTitle {
    display: block;
    font-weight: 500;
    line-height: 1.7;
    font-size: 0.875rem;
    margin-bottom: 1.4rem;
  }
  &__tags {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  &__tag {
    margin-right: 8px;
  }
}

@media (min-width: 768px) {
  .taxParams {
    display: flex;
    align-content: center;
    &__subTitle {
      width: 50%;
      align-self: center;
      margin-bottom: 0;
    }
  }
}
@media (min-width: 1440px) {
  .taxParams {
    &__subTitle {
      width: auto;
      margin-right: 2rem;
    }
  }
}
